<html>  
<head>  
    <title>Tcs Inframind</title>  
    <link rel="stylesheet" href='/static/style.css' />
    <style>
        body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
      a, h1, h2,p       { color: #377ba8; }
      h1, h2,p          { margin: 0; }
      h1              { border-bottom: 2px solid #eee; }
      h2             { font-size: 1.2em; }
      body {
        background-image: url("img_tree.gif"), url("paper.gif");
        background-color: #cccccc;
      }
        
    </style>
<body> 
    <div>
        <a href="{{ url_for('dropdown') }}">Custome Segmentation</a>
    </div>

    <div class="img-container">
        <img src="https://user-images.githubusercontent.com/57611810/92996379-ad9d7400-f4fa-11ea-8994-9e13f9aebf3f.png" class="main-img" alt="">
    </div>
</body>  
</html>  