<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>

    </style>
</head>
<body>
  <div>
    

    <p id="rcorners1">upload files and   show data </p>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <input type="file" class="custom-file-input" name="file" />  
        <input type = "submit" value="Upload">  
    </form>
    </div>
    <p id="rcorners2">Select Columns for </p>

    <!-- select columns using dropdownmenu -->
    <div>
    <form class="form-inline" method="POST" action="{{ url_for('test') }}">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Customer ID</span>
                <select name="comp_select_1" class="selectpicker form-control">
                  <option value="0">URL:</option>
                  <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
                  {% for colour in colours[1:] %}
                  <option value="{{ colour }}">{{ colour }}</option>
                  {% endfor %}
                </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Order Date  :</span>
                <select name="comp_select_2" class="selectpicker form-control">
                  <option value="0">URL:</option>
                  <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
                  {% for colour in colours[1:] %}
                  <option value="{{ colour }}">{{ colour }}</option>
                  {% endfor %}
                </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Order ID    :</span>
                <select name="comp_select_3" class="selectpicker form-control">
                  <option value="0">URL:</option>
                  <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
                  {% for colour in colours[1:] %}
                  <option value="{{ colour }}">{{ colour }}</option>
                  {% endfor %}
                </select>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Sales       :</span>
                <select name="comp_select_4" class="selectpicker form-control">
                  <option value="0">URL:</option>
                  <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
                  {% for colour in colours[1:] %}
                  <option value="{{ colour }}">{{ colour }}</option>
                  {% endfor %}
                </select>
        </div>

        <button type="submit" class="btn btn-default">Go</button>
      </div>
    </form>
  </div>

  <div>
    <form class="form-inline" method="POST" action="{{ url_for('test2') }}">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Sales       :</span>
              <select name="score" class="selectpicker form-control">
                <option value="0">URL:</option>
                <option value="{{rfm_score[0]}}" selected>{{rfm_score[0]}}</option>
                {% for value in rfm_score[1:] %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
        </div>
        


        <button type="submit" class="btn btn-default">GET RFM SCORE</button>
      </div>

    </form>
  </div>

  <div>
    <form class="form-inline" method="POST" action="{{ url_for('test3') }}">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Sales:</span>
              <select name="matrix_type" class="selectpicker form-control">
                <option value="0">URL:</option>
                <option value="{{matrix_[0]}}" selected>{{ matrix_[0] }}</option>
                {% for val in matrix_[1:] %}
                <option value="{{ val }}">{{ val }}</option>
                {% endfor %}
              </select>
        </div>

        <button type="submit" class="btn btn-default">GET Matrix</button>
      </div>
      
    </form>
  </div>
</body>
</html>